  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .login-card, .contact-form {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-card button:hover {
    background-color: #6F4E37;
  }
  