.contact-container{
    padding: 10vh;
}

.contact-container h1{
    text-align: center;
    margin-bottom: 30px;
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 10px 0;
    color: var(--theme-color);
    font-size: 2.5vw;
}

.contact-body-1{
    margin-bottom: 40px;
}

.contact-container p, .contact-body-2{
    text-align: center;
}

.contact-body-1 p{
    font-size: 1.5vw;
}

.contact-body-2{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-body-2 .contact-card{
    width: 30%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact-body-2 .contact-card i{
    font-size: 5vw;
    background-color: #dadada;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: var(--bg-color);
    color: var(--theme-color);
}

.contact-body-2 .contact-card i:hover{
    scale: 1.2;
}

.contact-form-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    height: 80vh;
}

.contact-form-container p{
    width: 40%;
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    .contact-container{
        padding: 0 2vh;
    }
    .contact-container h1{
        font-size: 5vw;
    }

    .contact-body-1 p{
        font-size: 4vw;
    }

    .contact-body-2{
        flex-direction: column;
    }
    .contact-body-2 .contact-card{
        width: 100%;
        justify-content: center;
        gap: 2vh;
        height: 30vh;
    }

    .contact-body-2 .contact-card i{
        font-size: 10vw;
        
    }

    .contact-form-container{
        flex-direction: column;
        height: auto;
    }

    .contact-form-container p{
        width: 100%;
    }
    
    .contact-body-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-body-3 p{
        font-size: 3vw;
    }

    .contact-form-container{
        width: 80%;
    }
}