.product-container{
    background-color: #e4e4e4;
    display: flex;
    padding: 5vh 10vh;
}

.product-sidebar{
    background-color: #ffffff;
    width: 20%;
    height: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}

.product-sidebar ul{
    min-height: 400px;
}

.product-sidebar ul li{
    list-style: none;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px 0;
    border-radius: 10px;
    padding-left: 10px;
    color: var(--bg-color);
    transition: 0.2s ease-in-out;
}

.product-sidebar ul li:hover,
.product-sidebar ul li.active{
    color: var(--theme-color);
    background-color: var(--bg-color);
}

.product-list-container{
    width: 80%;
    padding: 0 15px ;
}

.product-list-container .product-card-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

@media (max-width: 768px) {
    .product-container{
        padding: 5vh 2vh;
        flex-direction: column;
    }

    .product-sidebar{
        width: auto;
        margin-bottom: 20px;
        height: auto;
    }

    .product-list-container{
        width: auto;
        padding: 0;
    }

    .product-list-container .product-card-container{
        display: flex;
        flex-direction: column;
    }
}
.pagination-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}