@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Didact+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Didact+Gothic&family=Itim&family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&display=swap');

*{
margin:0;
padding:0;
font-family: "Aboreto", serif;
}

.heading-text{
  font-family: "Aboreto", serif;
  font-weight: 400;
}

.italic-text{
  font-family: "Itim", cursive;
  font-weight: 400;
}

html, body{
height:100%;
width:100%;
}
