.navbar{
    width: 90vw;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 5vw;
    color: var(--theme-color);
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.scrolled { 
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3vh 5%;
}

.hamburger{
    display: none;
}

.sidebar-buttons{
    display: none;
}

.navlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.navlinks a{
    color: var(--text-color-2);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.navlinks a:hover{
    color: var(--theme-color);
}

@media (max-width: 480px) {
    .hamburger{
        display: block;
    }

    .navlinks{
        display: none;
    }

    .sidebar-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .navbar{
        background-color: var(--theme-color);
    }
}